@media(max-width: 550px) {
    nav {
        background-color: #fff;
        border-bottom: 1px solid #111;
        z-index: 1000;
    }

    body.dark nav {
        background-color: #111;
    }

    nav h1 a {
        margin-left: 1rem;
    }

    nav #mainMenu {
        height: 100vh;
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        background-color: #fff;
        transition: all .5s ease;
        z-index: 1000;
    }

    body.dark nav #mainMenu {
        background-color: #111;
    }

   nav #openMenu i:hover, #closeMenu i:hover {
        color: #8a8a88;
   }

    nav #openMenu:active, #closeMenu:active {
        font-size: 1.9rem;
    }

    nav #openMenu, #closeMenu {
        font-size: 2.1rem;
        cursor: pointer;
        color: #111;
    }

    body.dark #closeMenu {
        color: #fff;
    }

    body.dark #openMenu {
        color: #fff;
    }

    nav #openMenu:hover {
        color: #8a8a88;
    }

    nav #openMenu {
        display: block;
        margin-right: 1rem;
    }

    nav #mainMenu #closeMenu {
        display: block;
        top: 20px;
        right: 20px;
        position: absolute;
    }

    nav #mainMenu li {
        margin-bottom: 4rem;
    }

    nav #mainMenu li a {
        font-size: 3rem;
    }

    /* MAIN */
    main {
        max-width: 350px;
    }
    
    .text-main #typewriter {
        font-size: 4rem;
    }
    
    .text-main .cursor {
        font-size: 4rem;
    }

    /* TRABAHLO */
    .section-work {
        max-width: 350px;
        height: 500px;
    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

   /* SOBRE */

    .section-sobre {
        max-width: 350px;
    }

    .section-sobre h2 {
        font-size: 1.8rem;
    }

/* CONTATO */

.section-contato {
    max-width: 350px;
    }

.section-contato h1 {
    font-size: 4rem;
    text-align: center;
}

.section-contato ul li {
    font-size: 1.1rem;
}

}