@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", system-ui;
}

html {
    scroll-behavior: smooth;
}

p {
    color: gray;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav a {
    color: #000;
    text-decoration: none;
    text-decoration-color: gray;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
    font-family: "Roboto Slab", system-ui;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all .3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height:  300px;
}

.hamburger-icon.open span:first-child { /* span 1 */
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) { /* span 2 */
    opacity: 0;
}

.hamburger-icon.open span:last-child { /* span 3 */
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container, #profile {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 700;
}

.section_text_p1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.section_text_p2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.cursor {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 700;
    transition: all .3s ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    text-decoration: none;
}

.btn-color-1 {
    color: #111;
}

.btn-color-1, .btn-color-2 {
    border: 1px solid #111;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1 {
    background-color: #111;
    color: #fff;
}

.btn-color-2 {
    background-color: transparent;
    color: #111;
}

.btn-color-1:hover, .btn-color-2:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT */

#about {
    position: relative;
}

#about .title {
    margin-bottom: 1rem;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-flow: column nowrap;

    
}

.text-container {
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 30px;
}

.about-containers {
    display: flex;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container div {
    padding: 2.5rem;
    flex: 1;
    background-color: #fff;
    border-radius: 2rem;
    border: 1px solid #111;
    text-align: center;
}

.details-container a {
    color: gray;
}

.section-container {
    height: 80%;
}

/* PROJECTS */

#projects {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    margin-bottom: 10rem;
}

#projects .arrow {
    position: absolute;
    right: -5rem;
    bottom: 4rem;
}

#projects .title {
    margin-bottom: 5rem;
}

.columns-projects {
    columns: 400px;
}

.columns-projects img {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 1px solid gray;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container a {
    text-decoration: none;
    color: #111;
    transition: all .2s;
}

.contact-info-container a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: gray;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}