@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Barcode+39+Text&family=Monofett&family=Nabla&family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Gothic&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    font-family: "Roboto", sans-serif;
    color: #111;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* MENU */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav #openMenu, #closeMenu {
    display: none;
}

nav h1 a {
    color: #222;
    text-decoration: none;
    font-weight: 400;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    margin-right: 2rem;
    transition: all .2s;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #000;
    font-weight: 500;
}

/* MAIN */
main {
    max-width: 1200px;
    margin: auto;
}

.text-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-main #typewriter {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
}

.text-main .cursor {
    font-size: 7rem;
    font-weight: 200;
    animation:  blink 1.2s ease-in-out infinite;
}
   
/* TRABALHO */
#trabalho {
    height: 100vh;
    padding-top: 2rem;
}

.section-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.section-work h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.section-work p {
    text-align: center;
    line-height: 35px;
    font-size: 1.2rem;
}

.section-work a {
    color: #0D21A1;
}

.mybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mybutton #myLink {
    background-color: #111;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
}

/* SOBRE */
#sobre {
    height: 100vh;
}

.section-sobre {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-sobre h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.section-sobre h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.section-sobre span {
    font-weight: 900;
}

.section-sobre p {
    line-height: 35px;
}

/* CONTATO */
#contato {
    height: 100vh;
}

.section-contato {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.section-contato h1 {
    font-weight: 400;
    font-size: 4rem;
}

.section-contato ul li {
    line-height: 50px;
    font-size: 1.5rem;
}

.section-contato ul li a {
    color: #0D21A1;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 550px) {
    nav #mainMenu {
        height: 100vh;
        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        background-color: #fff;
        transition: all .5s ease;
        z-index: 1;
    }

    nav #openMenu, #closeMenu {
        transition: all .2s;
    }

    nav #openMenu:hover {
        color: #555;
    }

    nav #closeMenu:hover {
        color: #555;
    }

    nav #openMenu:active, #closeMenu:active {
        font-size: 1.9rem;
    }

    nav #openMenu, #closeMenu {
        font-size: 2.1rem;
        cursor: pointer;
    }

    nav #openMenu {
        display: block;
    }

    nav #mainMenu #closeMenu {
        display: block;
        top: 20px;
        right: 20px;
        position: absolute;
    }

    nav #mainMenu li {
        margin-bottom: 4rem;
    }

    nav #mainMenu li a {
        font-size: 3rem;
    }

    /* MAIN */
    main {
        max-width: 400px;
    }
    
    .text-main #typewriter {
        font-size: 4rem;
    }
    
    .text-main .cursor {
        font-size: 4rem;
    }

    /* TRABAHLO */
    .section-work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        max-width: 400px;
    }

   /* SOBRE */

    .section-sobre {
        max-width: 400px;
    }

    .section-sobre h2 {
        font-size: 1.8rem;
    }

/* CONTATO */

.section-contato {
    max-width: 400px;
    }

.section-contato h1 {
    font-size: 4rem;
    text-align: center;
}

.section-contato ul li {
    font-size: 1.1rem;
}

}