@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Barcode+39+Text&family=Monofett&family=Nabla&family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Gothic&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    transition: all .5s;
}

body.light {
    background-origin: #fff;
    color: #111;
}

body.light nav ul li a {
    color: #111;
}

body.dark {
    background-color: #111;
    color: #fff;
}

body.dark nav ul li a {
    color: #fff;
}

body.dark nav h1 a {
    color: #fff;
}

.container {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 20px;
    right: 70px;
    margin-bottom: 1rem;
}

.input {
    visibility: hidden;
}

.label {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
    box-shadow: 4px 5px 15px #000;
}

.circle {
    width: 35px;
    background: #fff;
    height: 35px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    animation: buttonOff .5s ease forwards;
    box-shadow: 2px -1px 17px #fff;
    cursor: pointer;
}

body.dark .circle {
    box-shadow: 1px -1px 8px #fff;
}

.input:checked + .label {
    background-color: #4a4a4a;
} /* Add este background, quando input for clicado */

.input:checked + .label .circle {
    animation: buttonOn .5s ease forwards;
    background-color: #222;
    cursor: pointer;
}

@keyframes buttonOn {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(40px);
    }
}

@keyframes buttonOff {
    0% {
        transform: translate(40px);
    }

    100% {
        transform: translate(0);
    }
}

/* MENU */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav #openMenu, #closeMenu {
    display: none;
}

nav h1 a {
    color: #111;
    text-decoration: none;
    font-weight: 400;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    margin-right: 2rem;
    transition: all .2s;
    font-size: 1.1rem;
    color: #111;
}

nav a:hover {
    position: relative;
}

nav a::before {
    content: "";
    height: 2px;
    visibility: hidden;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease-in-out;
}

nav a:hover::before {
    position: absolute;
    visibility: visible;
    transform: scaleX(1);
}

body.dark nav a::before {
    background-color: #fff;
}

/* MAIN */
main {
    max-width: 1200px;
    margin: auto;
}

.text-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-main #typewriter {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
}

.text-main .cursor {
    font-size: 7rem;
    font-weight: 200;
    animation:  blink 1.2s ease-in-out infinite;
}
   
/* TRABALHO */
#trabalho {
    height: 100vh;
    padding-top: 2rem;
}

.section-work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.section-work h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.section-work p {
    text-align: center;
    line-height: 35px;
    font-size: 1.2rem;
}

.section-work a {
    color: #0D21A1;
}

.section-work #myLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-work #myLink {
    background-color: #111;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
}  

body.dark .section-work #myLink {
    background-color: #fff;
    border: 1px solid #fff;
    color: #111;
}



/* SOBRE */
#sobre {
    height: 100vh;
}

.section-sobre {
    max-width: 1200px;
    margin: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-sobre h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

.section-sobre h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.section-sobre span {
    font-weight: 900;
}

.section-sobre p {
    line-height: 35px;
}

/* CONTATO */
#contato {
    height: 100vh;
}

.section-contato {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.section-contato h1 {
    font-weight: 400;
    font-size: 4rem;
}

.section-contato ul li {
    line-height: 50px;
    font-size: 1.5rem;
}

.section-contato ul li a {
    color: #0D21A1;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}