@media (max-width: 900px) {
    nav #mainMenu {
        height: 100vh;
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        background-color: #fff;
        inset: 0;
        transition: top 1s ease 0s;
        z-index: 1000;
    }

    nav #mainMenu #closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav #openMenu {
        display: block;
    }

    nav #mainMenu li {
        margin-bottom: 5rem;
    }

    nav #mainMenu li a {
        font-size: 1.5rem;
    }

    nav #theme-switch {
        all: unset;
        cursor: pointer;
        position: relative;
        right: 15px;
        text-align: center;
    }
    
    nav #theme-switch p {
        background-color: var(--blue);
        padding: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    
    #theme-switch p:first-child {
        display: none;
    }

    /* MAIN */
    main {
        max-width: 90%;
        margin: auto;
    }

    h1 {
        font-size: 4rem;
    }

    a {
        font-size: 1rem;
    }

    p {
        font-size: 1.1rem;
    }

    /* ABOUT */
    section {
        max-width: 90%;
        margin-top: 5rem;
    }

    section ul li {
        font-size: 1.2rem;
    }

    /* PROJECTS */
    #projects p {
        margin-top: 0;
    }

    /* CONTACT */
    #contact {
        margin-bottom: 8rem;
    }

    * FOOTER */
    footer {
        max-width: 90%;
        padding: 0;
    }
}